# Compiled class file
*.class

# Log file
*.log

# idea Files
*.idea
# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

cantine-planner/target/

# Package Files #
*.jar
# But allow JARs in the release directory
!cantine-planner/release/
!cantine-planner/release/*.jar


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
